---
import Layout from "../layouts/layout.astro";
import { Head } from "../components/head";
import { parseContent } from "../utils/posts";
import { $content } from "../stores/search";
interface IFrontmatter {
  by: string;
  title: string;
  tag: string[];
  from: string;
}

const content = (await Astro.glob<IFrontmatter>("./things/*.md")).map(
  (thing) => ({
    thing,
    ...thing.frontmatter,
    content: thing.rawContent(),
  })
);

const parsedContent = await Promise.all(
  content.map((c) =>
    (async () => ({ ...c, content: await parseContent(c.content) }))()
  )
);

$content.set(parsedContent);
---

<Layout>
  <div class="mt-10 mx-auto max-w-[80vw]">
    <Head client:only content={parsedContent} />
  </div>
  <div class="grid grid-cols-2 mx-auto max-w-[80vw] w-full my-12 gap-4">
    {
      parsedContent.map(({ content, tag, title, by, from }) => (
        <div class="bg-gray-800 rounded-lg border-white border flex flex-col border-opacity-10 p-4">
          <div class="flex justify-between">
            <a href={content.url} class="font-bold text-lg">
              {title}
            </a>
            <div class="text-xs flex items-end flex-col opacity-25">
              <div>@{by}</div>
              <div>from {from}</div>
            </div>
          </div>
          <div class="flex gap-2">
            {tag.map((t) => (
              <a
                href={`/${t}`}
                class="text-xs bg-gray-700 rounded-lg px-2 py-1 my-1"
              >
                {t}
              </a>
            ))}
          </div>

          <a href={content.url} class="flex-1 flex">
            <img
              src={content.image}
              alt={title}
              class="w-full aspect-video object-cover rounded-lg my-4 relative flex-1"
            />
          </a>
          <p class="line-clamp-4 h-[96px]">
            {content.description != ""
              ? content.description
              : `there are no description for ${title} to find out more click on the title`}
          </p>
        </div>
      ))
    }
  </div>
</Layout>
